<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-home"><span>Home</span></a>
    <a href="about.html" class="navigation-links-about"><span>About</span></a>
    <div
      data-thq="thq-dropdown"
      class="navigation-links-thq-dropdown list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="navigation-links-dropdown-toggle"
      >
        <span class="navigation-links-text">Products</span>
        <div
          data-thq="thq-dropdown-arrow"
          class="navigation-links-dropdown-arrow"
        >
          <svg viewBox="0 0 1024 1024" class="navigation-links-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="navigation-links-dropdown-list">
        <li data-thq="thq-dropdown" class="navigation-links-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle1"
          >
            <a href="cakes.html" class="navigation-links-navlink">Cakes</a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown1 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle2"
          >
            <a href="cup-cake.html" class="navigation-links-navlink1">
              Cup Cakes
            </a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown2 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle3"
          >
            <a href="gateau.html" class="navigation-links-navlink2">Gateau</a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown3 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle4"
          >
            <a href="loaf.html" class="navigation-links-navlink3">Loaf</a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown4 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle5"
          >
            <a href="sweets.html" class="navigation-links-navlink4">Sweets</a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown5 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle6"
          >
            <a href="desserts.html" class="navigation-links-navlink5">
              Desserts
            </a>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown6 list-item"
        ></li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown7 list-item"
        ></li>
      </ul>
    </div>
    <a href="contact-us.html" class="navigation-links-contact-us">
      <span>Contact Us</span>
    </a>
  </nav>
</div>
